body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.show img {
  width: 100%;
  height: 66%;
  display: block;
  object-fit: cover;
}
.show-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.6);
  transform: translateY(100%);
  transition: all 0.3s linear;
  visibility: hidden;
}
.show-info h4 {
  color: #fff;
  margin-bottom: 0.25rem;
}
.show-info p {
  margin-bottom: 0;
  color: #fff;
}
.show:hover .show-info {
  transform: translateY(0);
  visibility: visible;
}

/* SINGLE TV SHOW */

input {
  border: 0;
  -webkit-appearance: none;
}
.single-show-box {
  margin-top: 20px;
}
.center-block {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.show-title {
  font-size: 1.75rem;
  font-weight: bold;
}
.show-overview {
  font-size: 0.85rem;
}
.show-date {
  font-size: 1rem;
  color: #808080;
}
.show-type {
  font-size: 1rem;
  color: #808080;
  font-style: italic;
}

.input-border {
  border: 1px solid #808080;
}
