.card {
  /* width: 16rem; */
  /* display: inline-block; */
  margin: 0 auto;
  /* float: none; */
  /* margin-bottom: 10px; */
  margin: 0 5px 10px 5px;
}

.movieTitle {
  font-size: 1.25rem;
  font-weight: bold;
}
.movieYear {
  font-style: italic;
  margin-left: 1rem;
}
